<div class="page-header">
  <h1>About Us</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Designer:</strong></dt>
  <dd>Nicky Woo</dd>
  <dt><strong>Programmer:</strong></dt>
  <dd>Zaid Said aka Sentul Asia</dd>
  <dt><strong>Programmer:</strong></dt>
  <dd>Idzuan Rosli aka Zealios</dd>
</dl>
