<% content_for(:head) do %>
  <script type="text/javascript">
      $(document).ready(function () {
          $('.carousel').carousel({
              interval: 7000
          });

          $('.carousel').carousel('cycle');
      });
  </script>
<% end %>

<div class="page-header">
  <h1>Android:Netrunner Scheduler</h1>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <p>Organizing tournament sometimes would be pain in the ass. Managing participant, timing of each round, pairing up the participant and how to break up ties. We are here to provide all that so that you can focus on organizing your tournament without any hassle.</p>
    </div>
    <div class="span9">
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag "playoff.jpg" %>
            <div class="carousel-caption">
              <h4>Tournament Round Options</h4>
              <p>Choose to have single elimination round for top 4 or top 8 players of no single elimination round. The system will automatically calculate the number of rounds based on the number of participant on the tournament and pair them using Swiss format.</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag "timer.jpg" %>
            <div class="carousel-caption">
              <h4>Match Countdown Timer</h4>
              <p>A dragging tournament would be very frustrating and add tension to tournament organizer and participant. To make sure all the participant stay punctual and finish the game on time, each round comes with a built in countdown timer.</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag "tie-breaker-bye.jpg" %>
            <div class="carousel-caption">
              <h4>Breaking Ties and Byes</h4>
              <p>Handling participant with tied prestiges are handled automatically by the system. The system is also smart enough to track tournament with even or add players and add byes accordingly. Byes will not effect the tie braking system to ensure fairplay.</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag "ranking.jpg" %>
            <div class="carousel-caption">
              <h4>Worldwide Elo Ranking</h4>
              <p>See where you are against the world. We use the well known Elo pairing system with a personal touch on it. Winners are rewarded greatly without compromising the losers rating.</p>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
</div>
